{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
    	<!-- meta character set -->
        <meta charset="utf-8">
		<!-- Always force latest IE rendering engine or request Chrome Frame -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>DSP Virtual Laboratory</title>		
		<!-- Meta Description -->
        <meta name="description" content="Blue One Page Creative HTML5 Template">
        <meta name="keywords" content="one page, single page, onepage, responsive, parallax, creative, business, html5, css3, css3 animation">
        <meta name="author" content="Muhammad Morshed">
		
		<!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- CSS
		================================================== -->
		
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
		
		<!-- Fontawesome Icon font -->
        <link rel="stylesheet" href="{%static 'css/font-awesome.min.css' %}">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="{%static 'css/jquery.fancybox.css' %}">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{%static 'css/style.css' %}">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="{%static 'css/owl.carousel.css' %}">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="{%static 'css/slit-slider.css' %}">
		<!-- bootstrap.min -->
        <link rel="stylesheet" href="{%static 'css/animate.css' %}">
		<!-- Main Stylesheet -->
        <link rel="stylesheet" href="{%static 'css/main.css' %}">

		<!-- Modernizer Script for old Browsers -->
        <script src="{%static 'js/modernizr-2.6.2.min.js' %}"></script>

    </head>
	
    <body id="body">

		<!-- preloader -->
		<div id="preloader">
            <div class="loder-box">
            	<div class="battery"></div>
            </div>
		</div>
		<!-- end preloader -->

        <!--
        Fixed Navigation
        ==================================== -->
        <header id="navigation" class="navbar-inverse navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
                    </button>
					<!-- /responsive nav button -->
					
					<!-- logo -->
					<h1 class="navbar-brand">
						<a href="#body">V-Lab</a>
					</h1>
					<!-- /logo -->
                </div>

				<!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <ul id="nav" class="nav navbar-nav">
                        <li><a href="#body">Home</a></li>
                        <li><a href="#service">Service</a></li>
                        <li><a href="#portfolio">portfolio</a></li>
                        <li><a href="#contact">Contact</a></li>
						<li><a href="#">{{info}}</a></li>
                    </ul>
                </nav>
				<!-- /main nav -->
				
            </div>
			   <div id="menubar">
				<ul id="menu">
				<li><a href="/logout">Logout</a></li>
				</ul>
				</div>
        </header>
        <!--
        End Fixed Navigation
        ==================================== -->
		
		<main class="site-content" role="main">
		
        <!--
        Home Slider
        ==================================== -->
		
		<section id="home-slider">
            <div id="slider" class="sl-slider-wrapper">

				<div class="sl-slider">
				
					<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">

						<div class="bg-img bg-img-1"></div>

						<div class="slide-caption">
                            <div class="caption-content">
                                <h2 class="animated fadeInDown">Virtual Laboratory</h2>
                                <span class="animated fadeInDown">Signal Processing Lab</span>
                            </div>
                        </div>
						
					</div>
					
					<div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
					
						<div class="bg-img bg-img-2"></div>
						<div class="slide-caption">
                            <div class="caption-content">
                                <h2>Virtual Laboratory</h2>
                                <span>Signal Processing Lab</span>
                            </div>
                        </div>
						
					</div>
					
					<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
						
						<div class="bg-img bg-img-3"></div>
						<div class="slide-caption">
                            <div class="caption-content">
                                <h2>Virtual Laboratory</h2>
                                <span>Signal Processing Lab</span>
                            </div>
                        </div>

					</div>
					<div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
					
						<div class="bg-img bg-img-4"></div>
						<div class="slide-caption">
                            <div class="caption-content">
                                <h2>Virtual Laboratory</h2>
                                <span>Signal Processing Lab</span>
                            </div>
                        </div>
						
					</div>

				</div><!-- /sl-slider -->

                <!-- 
                <nav id="nav-arrows" class="nav-arrows">
                    <span class="nav-arrow-prev">Previous</span>
                    <span class="nav-arrow-next">Next</span>
                </nav>
                -->
                
                <nav id="nav-arrows" class="nav-arrows hidden-xs hidden-sm visible-md visible-lg">
                    <a href="javascript:;" class="sl-prev">
                        <i class="fa fa-angle-left fa-3x"></i>
                    </a>
                    <a href="javascript:;" class="sl-next">
                        <i class="fa fa-angle-right fa-3x"></i>
                    </a>
                </nav>
                

				<nav id="nav-dots" class="nav-dots visible-xs visible-sm hidden-md hidden-lg">
					<span class="nav-dot-current"></span>
					<span></span>
					<span></span>
				</nav>

			</div><!-- /slider-wrapper -->
		</section>
		
        <!--
        End Home SliderEnd
        ==================================== -->
			
			<!-- about section -->
			<section id="about" >
				<div class="container">
					<div class="row">
						<div class="col-md-4 wow animated fadeInLeft">
							<div class="recent-works">
								<h3>Recent Works</h3>
								<div id="works">
									<div class="work-item">
										<p><strong>Calculation of N point Discrete Fourier transform (DFT) of  discrete time sequence.</strong> <br> <br> DFT is used to measure the frequency content of discrete time signal. It provides alternative reprsentaion for discrete time sequence. Also these algorithm is used in Digital filtering to remove unwanted frequencies.</p>
									</div>
									<div class="work-item">
										<p><strong>Calculation of Cross correlation between two sequences.</strong> <br> <br> Correlation is signal processing algorithm used to determine how similar two discrete time sequences are. If two sequences are highly correlated(almost similar), there correlation result will be symmetric about n=0 </p>
									</div>
									<div class="work-item">
										<p><strong>Calculation of Linear convolution between two sequences.</strong> <br><br> Convolution is basic Signal Processing algorithm used to determine the response of LTI system(h(n)) applied on input signal x(n). These tool is most widely applied algorithm in signal processing application. </p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-7 col-md-offset-1 wow animated fadeInRight">
							<div class="welcome-block">
								<h3>Welcome To Our Site</h3>								
						     	 <div class="message-body">
									<img src="{%static 'img/member2.jpg' %}" class="pull-left" alt="member">
						       		<p>Virtual Labs are intended to augment the learning of
										engineering subjects through performing experiments.
										The experiments are designed either as simulations
										or as remote triggered. A remote triggered lab allows
										a user to connect to real equipments using web browser. </p>
						     	 </div>
						       	<a href="#" class="btn btn-border btn-effect pull-right">Read More</a>
						    </div>
						</div>
					</div>
				</div>
			</section>
			<!-- end about section -->
			
			
			
			<!-- portfolio section -->
			<section id="portfolio">
				<div class="container">
					<div class="row">
					
						<div class="sec-title text-center wow animated fadeInDown">
							<h2>FEATURED PROJECTS</h2>
							<p>Basic DSP Laboratory section.</p>
						</div>
						

						<ul class="project-wrapper wow animated fadeInUp">
							<li class="portfolio-item">
								<img src="{%static 'img/portfolio/dsp1.JPG' %}" class="img-responsive" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat">
								<figcaption class="mask">
									<h3>Cross correlation of sequences</h3>
									<p>Find Cross correlation between sequence x(n) and h(n) </p>
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="Araund The world" data-fancybox-group="works" href="{%static 'img/portfolio/item.jpg' %}"><i class="fa fa-search"></i></a></li>
									<li><a href="#CORR"><i class="fa fa-link"></i></a></li>
								</ul>
							</li>
							
							<li class="portfolio-item">
								<img src="{%static 'img/portfolio/dsp2.jpg' %}" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
								<figcaption class="mask">
									<h3>Discrete Fourier Transform</h3>
									<p>Computes DFT X(k) of N point DT sequences x(n).</p>
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="Wall street" href="{%static 'img/slider/banner.jpg' %}" data-fancybox-group="works" ><i class="fa fa-search"></i></a></li>
									<li><a href="#FFT"><i class="fa fa-link"></i></a></li>
								</ul>
							</li>
							
							<li class="portfolio-item">
								<img src="{%static 'img/portfolio/dsp3.jpg' %}" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
								<figcaption class="mask">
									<h3>Linear Convolution of two sequences</h3>
									<p>Finds the response of LTI system applied on input signal x(n). </p>
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="Behind The world" data-fancybox-group="works" href="{%static 'img/portfolio/item3.jpg' %}"><i class="fa fa-search"></i></a></li>
									<li><a href="#CONV"><i class="fa fa-link"></i></a></li>
								</ul>
							</li>
							
						</ul>
						
					</div>
				</div>
			</section>
			<!-- end portfolio section -->
			
			<!-- Contact section -->
			<section id="FFT" style="background-color:#ffff;">
				<div class="section-title">
						  <h2>FFT</h2>
						</div>
				<div class="container-fluid" data-aos="fade-up">
				<div class="content">
				<div class="row">
				<div class="col-sm-6 ">
				<form class="form-row" action="" method="post">
				<div class="card">
				<div class="card-header">Inputs</div>
				<div class="card-body">
					{% csrf_token %}
					<div class="form-group">
				<label class="col-form-label" for="f_num13">Enter the first sequence </label>
				<input type="text" name="num1" id="num1" class="form-control" required/>
				<small  class="form-text text-muted">Example:1 2 3 4</small>
				</div>
				<div class="card-footer" style="background-color:transparent;border:none;"><div class="form-group col-12 text-right" style="text-align:right;"><input type="submit" name="fft" class="btn btn-primary pr-0" value="submit"/></div> </div></div>
			</div>
			</form>
			</div>
			<div class="col-sm-6 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">
				<div class="card">
				<div class="card-header">Equation with Example</div>
				<div class="card-title"><div class="math" style="padding-left: 2px;">
				
				  <div class="smol">N-1</div>
				  <div class="big">&#8721; &nbsp;&nbsp;&nbsp; x(n)e<sup>-j2&Pi;kn/N</sup>=X(k)</div>
				  <div class="smol">n=0</div>
				
				</div></div>
				<div class="card-body">
				<b>Eg: let x(n)={1,2,3,4}</b>
				<p  style="font-size:14px;">X(0)= x(0)e<sup>0</sup>+x(1)e<sup>0</sup>+x(2)e<sup>0</sup>+x(3)e<sup>0</sup>=10<br/>
				X(1)= x(0)e<sup>0</sup>+x(1)e<sup>-j2&Pi;/4</sup>+x(2)e<sup>-j4&Pi;/4</sup>+x(3)e<sup>-j6&Pi;/4</sup>=-2+2j<br/>
				X(2)= x(0)e<sup>0</sup>+x(1)e<sup>-j4&Pi;/4</sup>+x(2)e<sup>-j8&Pi;/4</sup>+x(3)e<sup>-j12&Pi;/4</sup>=-2<br/>
				X(3)= x(0)e<sup>0</sup>+x(1)e<sup>-j6&Pi;/4</sup>+x(2)e<sup>-j12&Pi;/4</sup>+x(3)e<sup>-j18&Pi;/4</sup>=-2-2j</p>
				</div>
				</div>
				</div>
				</div>
				<div id="res_fft">
				{% if fft %}
				<div class="col-12 text-center">
				<div class="card">
				<div class="card-header">Result for given sequence</div>
				<div class="card-body">
				<h4>DFT Result={{res}}</h4>
				</div>
				</div>
				</div>
				{% endif %}
				
				</div>
				</div>
				</div>
				</section>
				<!-- End of FFT-->  
				<section id="CORR" style="background-color:#ffff;">
					<div class="section-title">
							  <h2>Correlation</h2>
							</div>
					<div class="container-fluid" data-aos="fade-up">
					<div class="content">
					<div class="row">
					<div class="col-sm-6 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">
					<form class="form-row" action="" method="post">
					<div class="card">
					<div class="card-header">Inputs</div>
					<div class="card-body">
						{% csrf_token %}	
					<div class="form-group">
					<input type="hidden" name="corr" value="Submit" class="form-control"/>
					<label class="col-form-label" for="f_num11">Enter the first sequence </label>
					<input type="text" name="num1" id="num1" class="form-control" required/>
					<small  class="form-text text-muted">Example:1 2 3</small>
					</div>
					<div class="form-group">
					<label class="col-form-label" for="f_num22">Enter the second sequence </label>
					<input type="text" name="num2" id="num2" class="form-control" required/>
					<small  class="form-text text-muted">Example:1 2 3</small>
					</div>
					<div class="card-footer" style="background-color:transparent;border:none;"><div class="form-group col-12 text-right" style="text-align:right;"><button type="submit" class="btn btn-primary pr-0" >Submit</button></div> </div></div>
					</div>
					</form>
					</div>
					<div class="col-sm-6 align-items-stretch order-1 order-lg-2 img"  data-aos="zoom-in" data-aos-delay="150">
					<div class="card">
					<div class="card-header">Equation with Example</div>
					<div class="card-title"><div class="math" style="padding-left: 2px;">
					  <div class="smol">&#8734;</div>
					  <div class="big">&#8721;&nbsp;&nbsp;&nbsp;x(k)h(k-n)=y(n)</div>
					  <div class="smol">k=-&#8734;</div>
					</div></div>
					<div class="card-body">
					
					<b>Eg: let x(n)={1,2,3} and h(n)={3,2,1}</b>
					 <p style="font-size:13px;">y(0)=&sum;x(k)h(k)=x(0)h(0)+x(1)h(1)+x(2)h(2)=10<br/>
					y(1)=&sum;x(k)h(k-1)=x(1)h(0)+x(2)h(1)=12<br/>
					y(2)=&sum;x(k)h(k-2)=x(2)h(0)=9<br/>
					y(-1)=&sum;x(k)h(k+1)=x(0)h(1)+x(1)h(2)=4<br/>
					y(-2)=&sum;x(k)h(k+2)=x(0)h(2)=1</p>
					</div>
					</div>
					</div>
					</div>
					<div id="res_Correlation">
					{% if corr %}
					<div class="col-12 text-center">
					<div class="card">
					<div class="card-header">Result for given Sequence</div>
					<div class="card-body">
					<p>Correlation Result={{res}}</p>
					{% for elem in graph %}
   						{{elem|safe}}
						{% endfor %}
					</div>
					</div>
					</div>
					{% endif %}
					</div>
					</div>
					</div>
					</section><!-- End of Correlation-->	
					<section id="CONV" style="background-color:#ffff;">
						<div class="section-title">
								  <h2>Convolution</h2>
								</div>
						<div class="container-fluid" data-aos="fade-up">
						<div class="content">
						<div class="row">
						<div class="col-sm-6 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">
						<form class="form-row" action="" method="post">
						<div class="card">
						<div class="card-header">Inputs</div>
						<div class="card-body">
							{% csrf_token %}	
						<div class="form-group">
						<input type="hidden" name="conv" value="Submit" class="form-control"/>
						<label class="col-form-label" for="f_num11">Enter the first sequence </label>
						<input type="text" name="num1" id="num1" class="form-control" required/>
						<small  class="form-text text-muted">Example:1 2 3</small>
						</div>
						<div class="form-group">
						<label class="col-form-label" for="f_num22">Enter the second sequence </label>
						<input type="text" name="num2" id="num2" class="form-control" required/>
						<small  class="form-text text-muted">Example:1 2 3</small>
						</div>
						<div class="card-footer" style="background-color:transparent;border:none;"><div class="form-group col-12 text-right" style="text-align:right;"><button type="submit" class="btn btn-primary pr-0" >Submit</button></div> </div></div>
						</div>
						</form>
						</div>
						<div class="col-sm-6 align-items-stretch order-1 order-lg-2 img"  data-aos="zoom-in" data-aos-delay="150">
						<div class="card">
						<div class="card-header">Equation with Example</div>
						<div class="card-title"><div class="math" style="padding-left: 2px;">
						  <div class="smol">&#8734;</div>
						  <div class="big">&#8721;&nbsp;&nbsp;&nbsp;x(k)h(n-k)=y(n)</div>
						  <div class="smol">k=-&#8734;</div>
						</div></div>
						<div class="card-body">
						
						<b>Eg: let x(n)={1,2,3} and h(n)={1,2,3}</b>
						 <p style="font-size:13px;">y(0)=&sum;x(k)h(-k)=x(0)h(0)=1<br/>
						y(1)=&sum;x(k)h(1-k)=x(0)h(1)+x(1)h(0)=4<br/>
						y(2)=&sum;x(k)h(2-k)=x(0)h(2)+x(1)h(1)+x(2)h(0)=10<br/>
						y(3)=&sum;x(k)h(3-k)=x(1)h(2)+x(2)h(1)=12<br/>
						y(4)=&sum;x(k)h(4-k)=x(2)h(2)=9</p>
						</div>
						</div>
						</div>
						</div>
						<div id="res_Convolution">
						{% if conv %}
						<div class="col-12 text-center">
						<div class="card">
						<div class="card-header">Result for given Sequence</div>
						<div class="card-body">
						<p>Convolution Result={{res}}</p>
						{% for elem in graph %}
   						{{elem|safe}}
						{% endfor %}
						</div>
						</div>
						</div>
						{% endif %}
						</div>
						</div>
						</div>
						</section><!-- End of Convolution-->	
			<!-- end Contact section -->
			<!-- Contact section -->
			<section id="contact" >
				<div class="container">
					<div class="row">
						
						<div class="sec-title text-center wow animated fadeInDown">
							<h2>Contact</h2>
						</div>
						<div class="col-md-12 wow animated fadeInRight">
							<address class="contact-details">
								<h3>Contact Us</h3>						
								<p><i class="fa fa-pencil"></i>VCET, Puttur<span>PO Box 574203</span> <span>Neharunagar, Puttur, D.K, Karnataka </span><span>India</span></p><br>
								<p><i class="fa fa-phone"></i>Phone: +917760492838 </p>
								<p><i class="fa fa-envelope"></i>shivarao101@gmail.com</p>
							</address>
						</div>
			
					</div>
				</div>
			</section>
			<!-- end Contact section -->
		
		</main>
		
		<footer id="footer">
			<div class="container">
				<div class="row text-center">
					<div class="footer-content">
						
						<div class="footer-social">
							<ul>
	
								<li class="wow animated zoomIn" ><a href="https://twitter.com/shivapr09404913/"><i class="fa fa-twitter fa-3x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="https://www.linkedin.com/in/shivaprasad-rao-a92b8219/"><i class="fa fa-linkedin fa-3x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.6s"><a href="https://github.com/shivarao101/"><i class="fa fa-github fa-3x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.9s"><a href="https://www.youtube.com/channel/UCDPfx3yXjerwB1sP94Dfe7g"><i class="fa fa-youtube fa-3x"></i></a></li>
							</ul>
						</div>
						
						<p>Copyright &copy; 2021-2022 Design and Developed By<a href="http://www.themefisher.com">Shivaprasad</a> </p>
					</div>
				</div>
			</div>
		</footer>
		
		<!-- Essential jQuery Plugins
		================================================== -->
		<!-- Main jQuery -->
        <script src="{%static 'js/jquery-1.11.1.min.js' %}"></script>
		<!-- Twitter Bootstrap -->
        <script src="{%static 'js/bootstrap.min.js' %}"></script>
		<!-- Single Page Nav -->
        <script src="{%static 'js/jquery.singlePageNav.min.js' %}"></script>
		<!-- jquery.fancybox.pack -->
        <script src="{%static 'js/jquery.fancybox.pack.js' %}"></script>
		<!-- Google Map API -->
		<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<!-- Owl Carousel -->
        <script src="{%static 'js/owl.carousel.min.js' %}"></script>
        <!-- jquery easing -->
        <script src="{%static 'js/jquery.easing.min.js' %}"></script>
        <!-- Fullscreen slider -->
        <script src="{%static 'js/jquery.slitslider.js' %}"></script>
        <script src="{%static 'js/jquery.ba-cond.min.js' %}"></script>
		<!-- onscroll animation -->
        <script src="{%static 'js/wow.min.js' %}"></script>
		<!-- Custom Functions -->
        <script src="{%static 'js/main.js' %}"></script>
    </body>
</html>